<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title th:text="${sectionName}"></title>
		<link th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.css}" rel="stylesheet">
		<link th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap-theme.css}" rel="stylesheet">
		<link th:href="@{/css/community.css}" rel="stylesheet">
		<!--		jquery引入要早于bootstrap-->
		<script th:src="@{/webjars/jquery/3.4.1/jquery.js}" type="text/javascript"></script>
		<script th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.js}" type="text/javascript"></script>
	</head>
	<body>
		<div th:replace="naviagtion :: head"></div>
		<div class="container-fluid">
			<div class="row main ">
				<div class="col-lg-9 col-md-12" >
					<h2>
						<span th:text="${sectionName}"></span>
					</h2>
					<hr/>

					<!--/*@thymesVar id="questions" type="com.mint.community.dto.QuestionDTO"*/-->
					<div class="media" th:each="question : ${pagination.getData()}">
						<div class="media-left media-middle">
							<a href="#">
								<img class="media-object img-rounded list_icon" th:src="${question.getUser().getAvatarUrl()}">
							</a>
						</div>
						<div class="media-body">
							<h3 class="media-heading" th:text="${question.getTitle()}">Spring学习</h3>
							<div class="thread_status" th:text="${question.getComment_count()} + '个回复·'+ ${question.getView_count()}+ '次浏览·' + ${#dates.format(question.gmtCreate, 'MM-dd HH:mm')}"></div>
						</div>
						<hr>
					</div>
					<nav aria-label="Page navigation" class="pull-right">
						<ul class="pagination">
							<li th:if="${pagination.isShowFirstPage()}">
								<a href="#" th:href="@{'/profile/' + ${section} +'?page=1'}" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li th:if="${pagination.isHasPre()}">
								<a href="#" th:href="@{'/profile/' + ${section}(page=${pagination.currentPage} - 1)}" aria-label="Previous">
									<span aria-hidden="true">&lsaquo;</span>
								</a>
							</li>
							<li th:each="page : ${pagination.pages}" th:class="${page} == ${pagination.currentPage}?'active':''">
								<a th:href="@{'/profile/' + ${section}(page = ${page})}" th:text="${page}">index</a>
							</li>

							<li th:if="${pagination.isHasNext()}">
								<a href="#" th:href="@{'/profile/' + ${section}(page=${pagination.currentPage} + 1)}" aria-label="Next">
									<span aria-hidden="true">&rsaquo;</span>
								</a>
							</li>
							<li th:if="${pagination.isShowEndPage()}">
								<a href="#" th:href="@{'/profile/' + ${section}(page=${pagination.countPage})}" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="col-lg-3 col-md-12 profile ">
					<div class="list-group section">
						<a th:href="@{/profile/questions}" href="#" class="list-group-item" th:class="${section == 'questions'}?'list-group-item actives':'list-group-item'">
							<span class="badge">14</span> 我的问题</a>
						<a th:href="@{/profile/replies}" href="#" class="list-group-item" th:class="${section == 'replies'}?'list-group-item actives':'list-group-item'">
							最新回复</a>
						<a href="#" class="list-group-item">Morbi leo risus</a>
						<a href="#" class="list-group-item">Porta ac consectetur ac</a>
						<a href="#" class="list-group-item">Vestibulum at eros</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>